<a href="/os/new" class="me-4"><button class="btn btn-success">Nova OS</button></a>
<a href="/os/"><button class="btn btn-success">Ver Ordens</button></a>

<div class="jumbotron mt-4">
  <h1 class="display-4">Olá, Seja bem vindo</h1>
  <p class="lead">Esse é um gerenciador de Ordens de Serviço | versão Pré Alpha 1.0</p>
  <hr class="my-4">
  <p>Utilize os botões acima para navegar no sistema</p>
  <p>Dúvidas ou problemas</p>
  <a class="btn btn-primary btn-lg" href="#" button">Saiba mais</a>
</div>